<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
	<style>
    li {
      padding: 10px;
      border: 1px solid #ccc;
      margin: 10px 0;
      background-color: #f5f5f5;
    }
    .cheap {
      background-color: #e1f7e1;
    }
    .expensive {
      background-color: #f7e1e1;
    }
    .selected {
      background-color: #ffc;
    }
  </style>
</head>
<body>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <div id="app">
    <h1>다양한 전시 정보</h1>
    <label for="isActive">전시 중인 정보만 보기</label>
    <input type="checkbox" id="isActive">

    <ul>
      <li v-for="show in shows" :key="show.title" :class="{selected:show.isSelected}">
        <div v-if="show.isActive">
          <label>전시 관람 하기</label>
          <input type="checkbox" v-model="show.isSelected">
        </div>
        <div v-else style="color: red;">
          <p>전시가 종료되어 관람 할 수 없습니다.</p>
        </div>
        <h3>{{ show.title }}</h3>
        <hr>
        <p>{{ show.at }}</p>
        <p>가격 : {{ show.price }}</p>
        <p>상태 : {{ show.isActive ? '전시 중' : '전시 종료' }}</p>
        <hr>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    /*
			1. 주어진 전시 정보를 객체에 담고, 모든 객체를 하나의 배열에 할당하시오.
			  - 각 전시마다 선택되었는지를 확인할 수 있는 isSelected 속성을 추가한다.
      2. 각 전시 관람하기 버튼은 해당 전시 정보의 isSelected 정보와 양방향 바인딩 되어야 한다.
        - 단, isActive가 '전시 중'인 경우에만 전시 관람 하기버튼이 렌더링 되어야 한다.

			- 전시 정보
				무라카미 다카시 : 무라카시좀비
				부산 시립 미술관
				1000
				전시 중
				
				마우라치오 카텔란 개인전
				리움 미술관
				30000
				전시 중
				
				조선백자전
				리움 미술관
				30000
				전시 중
				
				한국 실험미술 1960 - 1970
				국립현대미술관
				0
				전시 중
				
				에드워드 호퍼 : 길 위에서
				서울 시립 미술관
				1000
				전시 종료
				
				알렉산더 칼더 x 이우환
				국제갤러리 서울점
				15000
				전시 종료
    */
   const { createApp, ref } = Vue
   const app = createApp({
    setup () {
      const shows = ref([
        {title : '무라카미 다카시 : 무라카시좀비',
          at : '부산 시립 미술관',
          price :1000, isActive : true, isSelected:false},
        { title : '마우라치오 카텔란 개인전',
          at : '리움 미술관',
          price : 30000, isActive : true, isSelected:false},
        {title : '조선백자전',
          at : '리움 미술관',
          price :30000, isActive : true, isSelected:false},
        {title : '한국 실험미술 1960 - 1970',
        at : '국립현대미술관',
        price : 0, isActive : true, isSelected:false},
        { title : '에드워드 호퍼 : 길 위에서',
        at : '서울 시립 미술관',
        price : 1000, isActive : false, isSelected:false},
        { title : '알렉산더 칼더 x 이우환',
          at:'국제갤러리 서울점',
          price : 15000, isActive : false, isSelected:false},
      ])
      
      return {
        shows,
      }
    }
   })

   app.mount('#app')
  </script>
</body>
</html>
